<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="../static/css/style.css"/>
    <title>Let's Party!</title>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>


<div class="row1">
    <div class="row1content" th:if="${artist}">

        <div class="prevButtonDiv">
            <a class="buttonLook smallButton" th:href="@{|/artistdetails/${prevId}|}">&lt;</a>
        </div>
        <div class="nextButtonDiv">
            <a class="buttonLook smallButton" th:href="@{|/artistdetails/${nextId}|}">&gt;</a>
        </div>

        <h2 th:text="${artist.artistName}">artistdetails</h2>
        <div class="venueinfo">
            <div class="infoLine">
                <div class="infoLineName">info:</div>
                <div class="infoLineValue">
                    <a th:href="${artist.linkMoreInfo}" th:text="${artist.linkMoreInfo}" target="_blank">linkMoreIfo</a>
                </div>
            </div>
            <div class="infoLine">
                <div class="infoLineName">genre:</div>
                <div class="infoLineValue" th:text="${artist.genre}">genre</div>
            </div>
            <div class="infoLine">
                <div class="infoLineName">portfolio:</div>
                <div class="infoLineValue" th:text="${artist.portfolio}">portfolio</div>
            </div>
            <div class="infoLine">
                <div class="infoLineName">bio:</div>
                <div class="infoLineValue" th:text="${artist.bio}"></div>
            </div>
        </div>

    </div>
    <div class="row1content" th:unless="${artist}">
        <p>no artist was chosen</p>
    </div>
</div>

<div th:replace="fragments/footer :: footer">Footer</div>

</body>
</html>