<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="../static/css/style.css"/>
    <title>Let's Party!</title>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>


<div class="row1">
    <div class="row1content">
        <h2>venues</h2>
        <div class="cols2">
            <div th:text="|${nrOfVenues} venues found|">11 venues</div>
            <div th:unless="${showFilters}" class="filters">
                <a class="buttonLook filterButton" th:href="@{/venuelist/filter}">filter</a>
            </div>
            <div th:if="${showFilters}" class="filters">
                <a class="buttonLook filterButton" th:href="@{/venuelist}">-</a>
                <form>
                    <div class="onefilter">
                        <input type="submit" value="search" class="buttonLook filterButton">
                    </div>
                    <h3>capacity</h3>
                    <div class="onefilter">
                        <label for="minCapacity" class="filtername">min</label>
                        <input type="number" id="minCapacity" name="minCapacity" th:value="${minCapacity}" value="0" step="50"> persons
                    </div>
                    <div class="onefilter">
                        <label for="maxCapacity" class="filtername">max</label>
                        <input type="number" id="maxCapacity" name="maxCapacity" th:value="${maxCapacity}" value="5000" step="50"> persons
                    </div>
                    <h3>distance from public transport</h3>
                    <div class="onefilter">
                        <label for="maxDistance" class="filtername">max</label>
                        <input type="number" id="maxDistance" name="maxDistance" value="1"
                               th:value="${maxDistance} ? ${maxDistance} : ''" step="1"> km
                    </div>
                    <h3>food</h3>
                    <div class="onefilter">
                        <label for="food_yes" class="filtername">yes</label>
                        <input type="radio" id="food_yes" name="filterFood" value="yes"
                               th:checked="${filterFood=='yes'}">
                    </div>
                    <div class="onefilter">
                        <label for="food_no" class="filtername">no</label>
                        <input type="radio" id="food_no" name="filterFood" value="no" th:checked="${filterFood=='no'}">
                    </div>
                    <div class="onefilter">
                        <label for="food_all" class="filtername">all</label>
                        <input type="radio" id="food_all" name="filterFood" value="all"
                               th:checked="${filterFood=='all'}">
                    </div>
                    <h3>indoor</h3>
                    <div class="onefilter">
                        <label for="indoor_yes" class="filtername">yes</label>
                        <input type="radio" id="indoor_yes" name="filterIndoor" value="yes"
                               th:checked="${filterIndoor=='yes'}">
                    </div>
                    <div class="onefilter">
                        <label for="indoor_no" class="filtername">no</label>
                        <input type="radio" id="indoor_no" name="filterIndoor" value="no"
                               th:checked="${filterIndoor=='no'}">
                    </div>
                    <div class="onefilter">
                        <label for="indoor_all" class="filtername">all</label>
                        <input type="radio" id="indoor_all" name="filterIndoor" value="all"
                               th:checked="${filterIndoor=='all'}">
                    </div>
                    <h3>outdoor</h3>
                    <div class="onefilter">
                        <label for="outdoor_yes" class="filtername">yes</label>
                        <input type="radio" id="outdoor_yes" name="filterOutdoor" value="yes"
                               th:checked="${filterOutdoor=='yes'}">
                    </div>
                    <div class="onefilter">
                        <label for="outdoor_no" class="filtername">no</label>
                        <input type="radio" id="outdoor_no" name="filterOutdoor" value="no"
                               th:checked="${filterOutdoor=='no'}">
                    </div>
                    <div class="onefilter">
                        <label for="outdoor_all" class="filtername">all</label>
                        <input type="radio" id="outdoor_all" name="filterOutdoor" value="all"
                               th:checked="${filterOutdoor=='all'}">
                    </div>
                </form>
            </div>
            <div class="venuelist">
                <div th:each="venue:${venues}">
                    <a class="buttonLook mediumButton"
                       th:href="@{|/venuedetails/${venue.id}|}">
                        <span th:text="${venue.venueName}">venue name </span>
                        <div th:text="|capacity ${venue.capacity}|" class="venueExtraInfo">maxNrOfPersons</div>
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer">Footer</div>

</body>
</html>